/* MUI CssBaseline handles CSS Resets. This file is kept only for basic root styles or fonts */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
